# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.db
*.sqlite3
*.log
*.bak
*.swp
.venv/
.env/
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# VS Code
.vscode/

.python-version
uv.*